<div>
  <h1>{{ block[0].settings.text | escape }}</h1>
  <p>Esto deberia tener un H1 ffff</p>
</div>

{% schema %}
  {
    "name": "MC Title 2",
    "tag": "div",
    "class": "section",
    "blocks": [
      {
        "type": "mc-title",
        "name": "Block Name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "lorem ipsum dolor default 2",
            "label": "Label Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "MC TITLE 2"
      }
    ],
    "enabled_on": {
      "templates": ["index"]
    }
  }
{% endschema %}